.home {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background:rgb(132, 106, 231) ;
}

.anitime {
    max-width: 600px;
    min-width: 600px;
}

.anitimeIMG {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10rem;
    padding:1rem;
}
.welcome {
    font-size: 3rem;
    text-align:center;
}