.home {
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-position: center 35%;
    height: 100vh;
}

.anitime {
    max-width: 600px;
    object-fit: contain; 
    position: absolute;
    z-index: 1;    
    top: 7rem;
    left: 41.75rem;  
}

@media (max-width:629px) {
    img#anitime {
      display: none;
    }
  }

.welcome {
    font-size: 3rem;
    text-align:center;
    margin-top: 4rem;
    margin-bottom:0;
    position: relative;
    
}

.homeBackground {
    margin-top: -4rem;
}

.homeBackground {
    background: url(../images/combine_images.jpg);
    height: 560px;
    width: 5076px;
    animation: slide 60s linear infinite;
    background-size: contain;
}

.slide {
    overflow: hidden;
}

@keyframes slide{
    0% {
      transform: translate3d(0, 0, 0);
    }
    100% {
      transform: translate3d(-1692px, 0, 0);
    }
  }
