.container {
   display: flex;
   flex-direction: column;
   padding-top: 7rem;
   text-align: center;
   min-height: 100vh;
}

.prevpageBtn {
   position: absolute;
   top: 77px;
   left: 224px;
}

.loginContainer {
   justify-content: flex-start;
   align-items: center;
   margin-top: 9rem;
}

.padding {
   padding-top: 12px;
   padding-bottom: 12px;
}


.label {
   padding-right: 1rem;
}

.input {
   border: 1px solid rgb(172, 164, 164);
   border-radius: 9px;
}

.login-text {
   display: flex;
   justify-content: center;
}

.submit-btn {
   margin-top: 12px;
   padding: 4px 6px 4px 6px;
   width: 140px;
   height: 45px;
   font-size: 12px;
   text-transform: uppercase;
   letter-spacing: 2.5px;
   font-weight: 500;
   color: #000;
   background-color: #fff;
   border: none;
   border-radius: 3rem;
   box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
   transition: all 0.3s ease 0s;
   cursor: pointer;
   outline: none;
}

.submit-btn:hover {
   background-color: #d9b9fa;
   box-shadow: 0px 15px 20px rgb(227, 214, 253, 0.4),;
   color: #fff;
   transform: translateY(-7px);
 }
