.signupContainer {
   justify-content: flex-start;
   align-items: center;
   margin-top: 3rem;
}

.container {
   padding: 9rem;
   padding-left: 12rem;
}

.padding {
   padding-top: 9px;
   padding-bottom: 9px;
}

.input {
   border: 1px solid rgb(172, 164, 164);
   border-radius: 9px;
}

.label {
   padding-right: 1rem;
}

.submit-btn {
   margin-top: 2rem;
   padding: 4px 6px 4px 6px;
   width: 140px;
   height: 45px;
   font-size: 12px;
   text-transform: uppercase;
   letter-spacing: 2.5px;
   font-weight: 500;
   color: #000;
   background-color: #fff;
   border: none;
   border-radius: 3rem;
   box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
   transition: all 0.3s ease 0s;
   cursor: pointer;
   outline: none;
   justify-content: center;
}

.submit-btn:hover {
   background-color: #d9b9fa;
   box-shadow: 0px 15px 20px rgb(227, 214, 253, 0.4),;
   color: #fff;
   transform: translateY(-7px);
 }

 .login-page-btn {
    margin-bottom: 2rem;
 }