.Anime {
  text-align: center;
}

.Anime-header {
background: rgb(132, 106, 231);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 2rem;
  align-items: center;
  justify-content: space-evenly;
  font-size: calc(10px + 2vmin);
  color: black;
}

.mainContent {
align-items: center;
background: white;
}