.Anime {
    text-align: center;
  }
  
.Anime-header {
  background: rgb(132, 106, 231);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 2rem;
    align-items: center;
    justify-content: space-evenly;
    font-size: calc(10px + 2vmin);
    color: black;
}

.mainContent {
  align-items: center;
  background: white;
}

.anime-card {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 12px;
  padding: 6px;
  border: 5px solid rgb(0, 0, 0);
  background: white;
}

.image {
  max-width: 100%;
}

.btn {
  width: 100%;
  font-size: 16px;
  margin: 12px 0px 16px 0px;
}
