.searchContainer {
  display: flex;
  justify-content: center;
}

.searchBar {
  padding: 1rem;
}

.animePage {
  background: rgb(132, 106, 231);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 2rem;
  padding: 2rem;
  justify-content: space-evenly;
  font-size: calc(10px + 2vmin);
  color: black;
  border-left: 3px solid;
}

.mainContent {
align-items: center;
background: white;
}