.zeroWidthTriggerStyle {
    width: 300px;
}

.headerImg {
    max-height: 64px;
    box-shadow: -4px 0px 18px 2px;
}

.ant-layout-sider-children{
height: 100%;
margin-top: -0.1px;
padding-top: 0.1px;
background: linear-gradient(70deg, rgba(131,102,214,1) 0%, rgba(230,198,255,1) 47%, rgba(224,230,251,1) 90%);
}

.ant-menu-root.ant-menu-vertical, .ant-menu-root.ant-menu-vertical-left, .ant-menu-root.ant-menu-vertical-right, .ant-menu-root.ant-menu-inline{
    background: rgba(221, 88, 248, 0.137);
}

.headerShadow{
    box-shadow: -1px 2px 8px 0px;
}

.trigger {
    padding-left: 16px;
}

.right {
    float: right;
}

.left {
    float:left;
}

@media (min-width:1815px) {
    img#disappear {
      display: none;
    }
  }