.anime-card {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 12px;
    padding: 6px;
    border: 3.5px solid rgb(53, 0, 79);
    background: white;
}

.image {
    max-width: 100%;
}

.btn {
    width: 100%;
    font-size: 16px;
    margin: 12px 0px 16px 0px;
}
